rabbitmq.queue.name=WEB_SERVER_1
rabbitmq.ip=localhost

redis.ip=localhost
redis.port=6379

secret.key=NpapHelGNRvAWEc0XGL0ESMY1MAWGOOD2FL3NOS4ANA5ASHRAF6WANA7MABDOON9YA10TEFA11YDJI83rdo5yJp1sxAS

services.names=notifications,search,chat,wall,editInfo,sign,connections,recommendations,jobs

health.endpoint=/check

server.ip=192.168.43.169
server.port=8081