api.notifications.all=notifications.all
api.notifications.markRead=notifications.markRead

api.search.company=search.company
api.search.user=search.user
api.search.post=search.post
api.search.job=search.job

api.recommendations.articles=recommendations.trending.articles
api.recommendations.jobs=recommendations.jobs
api.recommendations.users=recommendations.users

api.wall.getPostLikes=getPostLikes
api.wall.getCommentLikes=getCommentLikes
api.wall.addReply=addReply
api.wall.getReplies=getReplies
api.wall.editPost=editPost
api.wall.getComments=getComments
api.wall.addPost=addPost
api.wall.deletePost=deletePost
api.wall.getPosts=getPosts
api.wall.deleteReply=deleteReply
api.wall.addLike=addLike
api.wall.editComment=editComment
api.wall.editReply=editReply
api.wall.addBookmark=addBookmark
api.wall.deleteBookmark=deleteBookmark
api.wall.getBookmarks=getBookmarks
api.wall.addComment=addComment
api.wall.getReplyLikes=getReplyLikes
api.wall.deleteComment=deleteComment
api.wall.deleteLike=deleteLike

api.connections.addFriend=connections.addFriend
api.connections.acceptFriendRequest=connections.acceptFriend
api.connections.unfriend=connections.unfriendUser
api.connections.unblock=connections.unblockUser
api.connections.block=connections.blockUser
api.connections.getFriendsList=connections.getFriendsList

api.signing.signIn=signing.signIn
api.signing.signUp=signing.signUp
api.signing.signOut=signing.signOut
api.signing.getLoggedInUserInfo= signing.getLoggedInUserInfo

api.editinfo.userGet=user.get
api.editinfo.userUpdate=user.update
api.editinfo.userAddSkill=user.add.skill
api.editinfo.userDeleteSkill=user.delete.skill
api.editinfo.companyAdd=company.add
api.editinfo.companyGet=company.get
api.editinfo.companyUpdate=company.update
api.editinfo.userCvAdd=user.cv.add
api.editinfo.userCvDelete=user.cv.delete


api.jobs.viewAppliedJobs=view.applied.jobs
api.jobs.jobListing=job.listing
api.jobs.deleteJobCompany=delete.job.company
api.jobs.respondToApplicant=respond.to.applicant
api.jobs.postJobCompany=post.job.company
api.jobs.applyJob=user.apply.job

api.chat.register=chat.register