api.notifications=notifications.all
api.notifications.markRead=notifications.markRead

api.search.company=search.company
api.search.user=search.user
api.search.post=search.user
api.search.job=search.user

api.recommendations.trending.articles=recommendations.trending.articles
api.recommendations.jobs=recommendations.jobs
api.recommendations.users=recommendations.users

api.wall.getPostLikes=getPostLikes.command
api.wall.getCommentLikes=getCommentLikes.command
api.wall.addReply=addReply.command
api.wall.getReplies=getReplies.command
api.wall.editPost=editPost.command
api.wall.getComments=getComments.command
api.wall.addPost=addPost.command
api.wall.deletePost=deletePost.command
api.wall.getPosts=getPosts.command
api.wall.deleteReply=deleteReply.command
api.wall.addLike=addLike.command
api.wall.editComment=editComment.command
api.wall.editReply=editReply.command
api.wall.addBookmark=addBookmark.command
api.wall.deleteBookmark=deleteBookmark.command
api.wall.getBookmarks=getBookmarks.command
api.wall.addComment=addComment.command
api.wall.getReplyLikes=getReplyLikes.command
api.wall.deleteComment=deleteComment..command
api.wall.deleteLike=deleteLike.command

api.connections.addFriend=connections.addfriend
api.connections.acceptFriendRequest=connections.acceptFriend
api.connections.unfriend=connections.unfriendUser
api.connections.unblock=connections.unblockUser
api.connections.block=connections.blockUser

api.signing.signIn=signing.signIn
api.signing.signUp=signing.signUp
api.signing.signOut=signing.signOut

api.editinfo.userCvDelete=user.cv.delete
api.editinfo.companyAdd=company.add
api.editinfo.userGet=user.get
api.editinfo.userAddSkill=user.add.skill
api.editinfo.companyGet=company.get
api.editinfo.companyUpdate=company.update
api.editinfo.userCvAdd=user.cv.add

api.jobs.viewAppliedJobs=view.applied.jobs
api.jobs.jobListing=job.listing
api.jobs.deleteJobCompany=delete.job.company
api.jobs.respondToApplicant=respond.to.applicant
api.jobs.postJobCompany=post.job.company