api.notifications=notifications
api.search=search
api.recommendations=recommendations
api.wall=wall
api.connections=connections
api.signing=signing
api.editinfo=editinfo
api.jobs=jobs

api.notifications.queue=NOTIFICATIONS
api.search.queue=SEARCH
api.recommendations.queue=RECOMMENDATIONS
api.wall.queue=WALL
api.connections.queue=CONNECTIONS
api.signing.queue=SIGNING
api.editinfo.queue=EDITINFO
api.jobs.queue=JOBS


