api.notifications=notifications
api.search=search
api.recommendations=recommendations
api.wall=wall
api.connections=connections
api.signing=signing
api.editinfo=editinfo
api.jobs=jobs

api.notifications.queue=NOTIFICATIONS
api.search.queue=SEARCH
api.recommendations.queue=RECOMMENDATIONS
api.wall.queue=WALL
api.connections=CONNECTIONS
api.signing=SIGNING
api.editinfo=EDITINFO
api.jobs=JOBS


